*{
    margin: 0px;
    padding: 0px;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    background-color: #fd6569;
    padding: 10px;
}
.container-box{
    background-color: black;
    color: #fd6569;
    width: 25%;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.container-box h5, p{
    color: white;
}
.container-box button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #fd6569;
    margin-top: 10px;
    border: none;
}
.add-button{
    background-color: #fd6569;
    font-size: 40px;
    padding: 20px;
    border-radius: 100%;
    border: none;
    position: absolute;
    right: 30px; 
    bottom: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.add-book{
    background-color: #fd6569;
    width: 35%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;

}
.add-book input{
    background-color: #fd6569;
    border: none;
    border-bottom: solid black 2px;
    outline: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.add-book textarea{
    background-color: #fd6569;
    
    border: solid black 2px;
    outline: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
.add-book button{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin: 5px;
}
.add-book input::placeholder{
    color: black;
}
.add-book textarea::placeholder{
    color: black;
}
